
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card 
      photoCover="https://tm.ibxk.com.br/2011/12/materias/59323772727104943.jpg"
      cardTitle="Título dinâmico!"
      cardDescription="Descrição dinâmica!"
    >
    </app-big-card>
    
  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Título lógico!"
    photoCover="https://1stclasssleep.files.wordpress.com/2011/01/small-brain-shanghai-homer-simpson1.jpg?w=254&h=300"
    >
    </app-small-card>
    <app-small-card
    cardTitle="Outro título lógico!!"
    photoCover="https://i.imgflip.com/4/702xpl.jpg"
    >
    </app-small-card>
    <app-small-card
    cardTitle="Mais um título lógico!!!"
    photoCover="https://us-tuna-sounds-images.voicemod.net/f33e7cb6-9241-428c-ab1a-b413bd07fcc1-1673785337193.jpg"
    >
    </app-small-card>
  </div>
</div>
