<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfxxdT3QQEcvZadDjKVUXalY2TX3XMK-r2hDnK31zp03OyRuBM5IQrPiok2HXk98Nsaxc&usqp=CAU"
      alt=""
      height="200px"
    
    />
  </div>
  <div class="big-card__title">
    <h1>Título Matéria</h1>
  </div>
  <div class="big-card__description">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem facere,
      nihil explicabo quidem qui cum veniam quibusdam dignissimos officia
      consequuntur. Totam voluptatem nemo non eaque tenetur consequuntur magnam
      dolor nihil.
    </p>
  </div>
</div>
